@keyframes pulse {
  0% { background-color: white  }
  100% {
    background-color: orangered
  }
}

div
    width: 0.5em
    height: 0.5em
    float: left
    animation-name: pulse
    animation-duration 0.1s
    animation-play-state paused
    animation-fill-mode: forwards;

    &:hover
        animation-play-state running
